{% extends "base.html" %}

{% block content %}
<div class="mx-4">
    <h1 class="text-4xl font-bold text-center">{{ title }}</h1>
    {% if messages %}
    <h2 class="text-2xl font-semibold"> Messages</h2>
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2 class="text-2xl font-semibold">Current Board</h2>
    <h3 class="text-xl font-medium">Teams</h3>
    <div class="grid grid-cols-2 gap-4 mx-10">
        {% for team, val in board.teams.items() %}
        <div class="bg-gray-200 p-4 rounded-xl">
            <div class="text-lg font-bold">{{ team }}</div>

            <p class="text-gray-500">In {{ val["current_pos"]["name"] }}</p>
            <p class="">Claiming {{ val["current_claims"] }}</p>
            {% if val["current_card"] %}
            <div class="flex justify-center">
                <div class="border-2 w-1/2 rounded-xl bg-white shadow">
                    <p class="text-start font-semibold mx-1 my-3">{{ val["current_card"]["name"] }}</p>
                    <p class="text-start mx-1">{{ val["current_card"]["challenge"] }}</p>
                    <div class="flex text-center justify-between mx-1 my-3">
                        <a href="/finish_card?team_name={{ team }}"
                            class="bg-blue-500 hover:bg-blue-700 text-white w-100 h-10 flex items-center justify-center">
                            Finished!
                        </a>
                    </div>

                </div>
            </div>
            {% endif %}

            <!-- Footer section -->
            <div class="mt-4 pt-2 border-t border-gray-300">
                <a href="/pull_card?team_name={{ team }}"
                    class="inline-block rounded-lg bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 cursor-pointer transition-colors duration-200 text-center">
                    Pull Card
                </a>
                <form method="GET" action="/team_travel">
                    <input name="team_name" id="team_name" value="{{ team }}" hidden />
                    <label for="new_pos">Country:</label>
                    <select name="new_pos" id="new_pos">
                        {% for country in board.possible_claims %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endfor %}
                        <br />
                        <input type="submit" value="Submit Move" />
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}